main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  min-width: 1280px;
  height: 680px;
  position: relative;
}

.image-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 800px;
}

img {
  height: 680px;
  width: 590px;
}

li img {
  height: 680px;
  width: 590px;
}

ul {
  display: flex;
  position: absolute;
  overflow: hidden;
  height: 680px;
  width: 590px;
  list-style-type: none;
  padding: 0;
  background-color: black;
}
li {
  height: 680px;
  width: 590px;
}

/* Portrait for iPhone 5/SE: */
@media only screen and (max-width: 320px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 568px;
    width: 320px;
  }

  .image-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 568px;
    width: 320px;
  }

  img {
    height: 568px;
    width: 320px;
  }

  li img {
    height: 568px;
    width: 320px;
  }

  ul {
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 568px;
    width: 320px;
    list-style-type: none;
    padding: 0;
    background-color: black;
  }
  li {
    height: 568px;
    width: 320px;
  }
}

/* Landscape for iPhone 5/SE: */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 568px;
  }

  .image-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 568px;
  }

  img {
    height: 320px;
    width: 568px;
  }

  li img {
    height: 320px;
    width: 568px;
  }

  ul {
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 320px;
    width: 568px;
    list-style-type: none;
    padding: 0;
    background-color: black;
  }
  li {
    height: 320px;
    width: 568px;
  }
}

/* Portrait for iPhone 6/7/8 Plus: */
@media only screen and (max-width: 414px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 736px;
    width: 414px;
  }

  .image-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 736px;
    width: 414px;
  }

  img {
    height: 736px;
    width: 414px;
  }

  li img {
    height: 736px;
    width: 414px;
  }

  ul {
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 736px;
    width: 414px;
    list-style-type: none;
    padding: 0;
    /* background-color: black; */
  }
  li {
    height: 736px;
    width: 414px;
  }
}

/* Portrait for iPhone X: */
@media only screen and (max-width: 375px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 812px;
    width: 375px;
  }

  .image-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 812px;
    width: 375px;
  }

  img {
    height: 812px;
    width: 375px;
  }

  ul {
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 812px;
    width: 375px;
    list-style-type: none;
    padding: 0;
    background-color: black;
  }
  li {
    height: 812px;
    width: 375px;
  }
}

/* Portrait for Pixel 2 XL: */
@media only screen and (max-width: 411px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 731px;
    width: 411px;
  }

  .image-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 731px;
    width: 411px;
  }

  img {
    height: auto;
    width: 100%;
  }

  ul {
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 731px;
    width: 411px;
    list-style-type: none;
    padding: 0;
    background-color: black;
  }
  li {
    height: 731px;
    width: 411px;
  }
}
